includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    excludePaths:
        - src/Concerns/InteractsWithSushi.php
    paths:
        - src
        - config
        - database
    level: max
    tmpDir: build/phpstan
    checkMissingIterableValueType: true
    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#^Class XtendPackages\\RESTPresenter\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
