includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src
        - config
        - database
    level: max
    tmpDir: build/phpstan
    checkMissingIterableValueType: true
    scanFiles:
         - tests/Helpers.php
    ignoreErrors:
        - '#Undefined variable: \$this#'
