<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" executionOrder="random" failOnWarning="true" failOnRisky="true" failOnEmptyTestSuite="true" beStrictAboutOutputDuringTests="true">
  <testsuites>
    <testsuite name="RESTPresenter">
      <directory>tests/Resources</directory>
      <directory>tests/Support</directory>
    </testsuite>
    <testsuite name="starter-kit:lunar">
      <directory>src/StarterKits/Stores/Lunar/Tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
